@define-color bg_main #1d2021;
@define-color bg_main_tooltip #282828;

@define-color bg_hover rgba(256, 256, 256, 0.3);
@define-color bg_active rgba(256, 256, 256, 1);

@define-color border_main #3c3836;

@define-color content_main white;
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
	text-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	/* font-family: "CozetteVector"; */
	font-family: "Fira Code";
	/* font-family: "HackNerdFont"; */
	font-size: 20px;
}

window {
	/* padding-left: 30px; */
	/* padding-right: 30px; */
}

window#waybar {
	/* padding-left: 30px; */
	/* padding-right: 30px; */
	background: rgba(0, 0, 0, 0);
	/* border: 2px solid @border_main; */
	/* border-radius: 8px; */
}


tooltip {
	/* background: @bg_main_tooltip; */
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: @border_main;
}

tooltip label {
	/* color: @content_main; */
}


#workspaces {
	color: white;
	/* font-size: 1em; */
	/* font-weight: "bold"; */
	margin-right: 1.5px;
	margin-left: 1.5px;
}

#workspaces button {
	padding: 3px;
	color: @content_inactive;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.active {
	color: @content_main;
	/* border-bottom: 3px solid white; */
}

#workspaces button.focused {
	color: @bg_active;
}

#workspaces button.urgent {
	background: rgba(255, 200, 0, 0.35);
	border-bottom: 3px dashed @warning_color;
	color: @warning_color;
}

#workspaces button:hover {
	background: @bg_hover;
	color: @content_main;
}

#taskbar {}

#taskbar button {
	min-width: 130px;
	/* border-bottom: 3px solid rgba(255, 255, 255, 0.3); */
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 8px;
	padding-right: 8px;
	color: white;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#taskbar button.active {
	border-bottom: 3px solid white;
	/* background: @bg_active; */
}

#taskbar button:hover {
	border-bottom: 3px solid white;
	background: @bg_hover;
	/* color: @content_main; */
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
	margin: 6px 6px 6px 0px;
	padding-left: 1rem;
	padding-right: 1rem;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#tray>.passive {
	border-bottom: none;
}

#tray>.active {
	border-bottom: 3px solid white;
}

#tray>.needs-attention {
	border-bottom: 3px solid;
}

#tray>widget {}

#tray>widget:hover {
	background: @bg_hover;
}

#pulseaudio:hover {
	background: @bg_hover;
}