theme = "gruvbox_light_trans"
# theme = "gruvbox_trans"

[editor]
# cursorline = true
bufferline = "multiple"
scrolloff = 3
mouse = true
middle-click-paste = true
scroll-lines = 3
shell = ["sh", "-c"]
line-number = "relative"
gutters = ["diagnostics", "line-numbers", "diff"]
auto-completion = true
path-completion = true
auto-format = true
idle-timeout = 400
completion-trigger-len = 2
completion-replace = true
auto-info = true
color-modes = true
trim-trailing-whitespace = true
# rulers = [80]
end-of-line-diagnostics = "disable"

[editor.statusline]
# left = ["mode", "spinner", "spacer", "version-control", "file-name"]
left = [
  "mode",
  "spinner",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
center = ["diagnostics", "workspace-diagnostics"]
right = ["selections", "register", "position", "file-type"]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.lsp]
display-messages = true
display-progress-messages = true
display-inlay-hints = false
auto-signature-help = true
snippets = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"


[editor.file-picker]
hidden = true
parents = true
ignore = true
git-ignore = true
git-global = true
git-exclude = true
# max-depth = "None"

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
"'" = "'"
'`' = '`'
'<' = '>'

[editor.auto-save]
after-delay = { enable = true }

[editor.search]
smart-case = true
wrap-around = true

[editor.whitespace]
render = "none"

[editor.indent-guides]
render = true
character = "┊" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 0

[editor.smart-tab]
enable = true
supersede-menu = true

[editor.inline-diagnostics]
cursor-line = "warning" # show warnings and errors on the cursorline inline
other-lines = "disable"

############################################################
## Custom keybind section
############################################################

# Since I'm using the colemakdh layout the default vim-like hjkl bindings
# do not work for me.
#
# To fix this i do a global rotation over all keybinds
# hjkl -> neio
# neio -> hjkl
#
# I also add some custom keybinds.

[keys.normal]
# unset keys
O = "no_op"
# A-o = "no_op"
# A-i = "no_op"
# A-n = "no_op"
N = "no_op"
C-i = "no_op"
# set them
n = "move_char_left"
e = "move_line_down"
i = "move_line_up"
o = "move_char_right"
j = "move_next_word_end"
J = "move_next_long_word_end"
k = "insert_mode"
K = "insert_at_line_start"
l = "open_below"
L = "open_above"
h = "search_next"
H = "search_prev"
E = "join_selections"
I = "keep_selections"

A-S-n = ":buffer-previous"
A-S-o = ":buffer-next"
C-o = "jump_forward"
C-n = "jump_backward"

"ret" = "goto_definition"
C-A-r = ":reload-all"
C-y = "yank_joined"

# A-f = "move_parent_node_end"
# A-b = "move_parent_node_start"
A-i = "expand_selection"
A-e = "shrink_selection"
A-n = "select_prev_sibling"
A-o = "select_next_sibling"

[keys.normal.z]
# unset
k = "no_op"
j = "no_op"
# set
e = "scroll_up"
i = "scroll_down"
[keys.normal.Z]
# unset
k = "no_op"
j = "no_op"
# set
e = "scroll_up"
i = "scroll_down"
[keys.normal.g]
# unset
e = "no_op"
l = "no_op"
i = "no_op"
# set
j = "goto_last_line"
n = "goto_line_start"
o = "goto_line_end"
k = "goto_implementation"
h = "goto_next_buffer"
[keys.normal.m]
#unset
i = "no_op"
#set
k = "select_textobject_inner"
[keys.normal.C-w]
#unset
C-h = "no_op"
C-j = "no_op"
j = "no_op"
C-k = "no_op"
k = "no_op"
H = "no_op"
J = "no_op"
K = "no_op"
L = "no_op"
#set
C-l = "wonly"
l = "wonly"
C-n = "jump_view_left"
n = "jump_view_left"
C-e = "jump_view_down"
e = "jump_view_down"
C-i = "jump_view_up"
i = "jump_view_up"
C-o = "jump_view_right"
o = "jump_view_right"
N = "swap_view_left"
E = "swap_view_down"
I = "swap_view_up"
O = "swap_view_right"

[keys.normal.C-w.h]
#set
C-s = "hsplit_new"
s = "hsplit_new"
C-v = "vsplit_new"
v = "vsplit_new"

# commands that deal work lsp stuff
[keys.normal.space.l]
c = ":lsp-workspace-command"

[keys.normal.C-space]
n = "@:o <C-r>%<C-w>"
x = "@:sh rm <C-r>%"
r = "@:sh mv <C-r>% <C-r>%"
c = "@:sh cp <C-r>% <C-r>%"
e = "@:sh ghostty -e yazi <C-r>% <ret>"
b = ":echo %sh{git blame -L %{cursor_line},+1 %{buffer_name}}"

[keys.normal.space.w]
#unset
C-h = "no_op"
C-j = "no_op"
j = "no_op"
C-k = "no_op"
k = "no_op"
H = "no_op"
J = "no_op"
K = "no_op"
L = "no_op"
#set
C-l = "wonly"
l = "wonly"
C-n = "jump_view_left"
n = "jump_view_left"
C-e = "jump_view_down"
e = "jump_view_down"
C-i = "jump_view_up"
i = "jump_view_up"
C-o = "jump_view_right"
o = "jump_view_right"
N = "swap_view_left"
E = "swap_view_down"
I = "swap_view_up"
O = "swap_view_right"

[keys.normal.space.w.h]
#set
C-s = "hsplit_new"
s = "hsplit_new"
C-v = "vsplit_new"
v = "vsplit_new"
[keys.select]
#unset
k = "no_op"
l = "no_op"
E = "no_op"
# N = "no_op"
#set
n = "extend_char_left"
e = "extend_line_down"
i = "extend_line_up"
o = "extend_char_right"
N = "goto_line_start"
O = "goto_line_end"
j = "extend_next_word_end"
J = "extend_next_long_word_end"
h = "extend_search_next"
H = "extend_search_prev"

[keys.select.g]
# unset
e = "no_op"
l = "no_op"
i = "no_op"
# set
j = "goto_last_line"
n = "goto_line_start"
o = "goto_line_end"
k = "goto_implementation"
h = "goto_next_buffer"

[keys.insert]
#unset
C-k = "no_op"
#set
C-n = "delete_char_backward"
C-e = "insert_newline"
C-h = "move_line_down"
C-j = "goto_line_end_newline"
C-i = "kill_to_line_end"
