#!/usr/bin/env sh
setxkbmap -layout us -variant altgr-intl -option nodeadkeys &
xset r rate 200 50 &
dunst &
feh --bg-center "/home/fincei/Pictures/wallpapers/cyberpunk-devil2.png" &
monitor-setup &
picom -b &
desktop-setup &
