#!/usr/bin/env sh
setxkbmap -layout us -variant altgr-intl -option nodeadkeys &
xset r rate 200 50 &
dunst &
feh --bg-fill "/home/fincei/Pictures/wallpapers/space.jpg" &
monitor-setup &
picom -b &
desktop-setup &
