
@define-color foreground #ebdbb2;
@define-color background #1d2021;

@define-color gruvbox-black   #282828;
@define-color gruvbox-red     #cc241d;
@define-color gruvbox-green   #98971a;
@define-color gruvbox-yellow  #d79921;
@define-color gruvbox-blue    #458588;
@define-color gruvbox-magenta #b16286;
@define-color gruvbox-cyan    #689d6a;
@define-color gruvbox-white   #a89984;

#window,
#outer-box,
#input,
#inner-box,
#img,
#text,
#unselected,
#selected,
#entry,
#expander-box,
#scroll {
	  all: unset;
}

#window {
	font-family: "CozetteVector";
  font-size: 20px;
  color: @foreground;
}

#outer-box {
  background: @background;
  border: 4px solid lighter(@gruvbox-yellow);
  padding: 20px
}

#input {
  background: lighter(@background);
  padding: 4px
}

#input > image.left {
}

#scroll {
  
}

#inner-box {
  
}

#img {
  
}

#text {
  
}

#unselected {
  
}

#selected {
    background: @gruvbox-blue;
}

#entry {
  
}

#expander-box {
  
}
