@use "sass:color";


/* === Default colors === */
/* $bg: '#1d2021'; */ /* hard contrast */
$bg: #282828;
/* $bg: #32302f; */ /* soft contrast */
$fg: #ebdbb2;

/* Normal colors */
$black:   #282828;
$red:     #cc241d;
$green:   #98971a;
$yellow:  #d79921;
$blue:    #458588;
$magenta: #b16286;
$cyan:    #689d6a;
$white:   #a89984;

/* Bright colors */
$bright_black:   #928374;
$bright_red:     #fb4934;
$bright_green:   #b8bb26;
$bright_yellow:  #fabd2f;
$bright_blue:    #83a598;
$bright_magenta: #d3869b;
$bright_cyan:    #8ec07c;
$bright_white:   #ebdbb2;

/* design tokens */
$accent: $yellow;
$radius: 7px;

window {
    font-size: 15px;
    font-weight: bold;
    /* font-family: "CozetteHiDpi"; */
    font-family: "CozetteVector";
}

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg;
    color: $fg;

    label.quote {
        font-weight: bold;
        font-style: italic;
        color: $accent
    }

    button {
        all: unset;
        /* color: $bright_black; */
        background-color: $black;

        &:hover label {
            background-color: color.adjust($fg, $alpha: -0.84);
            border-color: color.adjust($accent, $alpha: -0.8);
        }

        &:active label {
            background-color: color.adjust($fg, $alpha: -0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .Workspaces button {
        font-size: 25px;
    }

    .Workspaces .focused label {
        color: $accent;
        /* border-color: $accent; */
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery button {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($fg, $alpha: -0.8);
            border-radius: $radius;
        }


    }
}
