# Highlight color when text is selected using mouse. 
# text_highlight_color 

# The color used to highlight search results. 
# search_highlight_color 

# unselected_search_highlight_color 

# freetext_bookmark_color 

# The color used to highlight links in PDF files. 
# link_highlight_color 

# Highlight color for synctex forward search highlights. 
# synctex_highlight_color 

# ruler_color 

# ruler_marker_color 

# Specifies the background color of the app (this is different from the background color of PDF page which is configured using :ref:`customcolor`, this color is only shown when the displayed page is smaller than the srceen). The syntax to set colors is:
# System Message: ERROR/3 (<string>, line 3); backlink
# Unknown interpreted text role "ref".
# background_color  r  g  b
# where r,g and b red, green and blue values between 0 and 1. For example in order to set the background color to gray we can add the following to our prefs_user.config:
# background_color  0.5  0.5  0.5 
# background_color 

# Specifies the background color when dark mode is enabled. 
# dark_mode_background_color 

# custom_color_mode_empty_background_color 

# Specify the background and text color when using custom color mode (by executing toggle_custom_color command).
# custom_background_color              0.18 0.20 0.25
# custom_text_color                    1.0 1.0 1.0 
# custom_background_color 

# Specify the background and text color when using custom color mode (by executing toggle_custom_color command).
# custom_background_color              0.18 0.20 0.25
# custom_text_color                    1.0 1.0 1.0 
# custom_text_color 

# Allow you to customize the appearance of status bar.
# status_bar_color        0 0 0
# status_bar_text_color   1 1 1
# status_bar_font_size    10 
# status_bar_color 

# Allow you to customize the appearance of status bar.
# status_bar_color        0 0 0
# status_bar_text_color   1 1 1
# status_bar_font_size    10 
# status_bar_text_color 

# Used to adjust the appearance of page separator.
# page_separator_width 2
# page_separator_color 0.5 0.5 0.5 
# page_separator_color 

# The background and text color of selected UI elements. 
# ui_selected_background_color 

# The background and text color of (unselected) UI elements. 
# ui_text_color 

# The background and text color of (unselected) UI elements. 
# ui_background_color 

# The background and text color of selected UI elements. 
# ui_selected_text_color 

# The background and text color of (unselected) UI elements. 
# ui_background_color 

# vertical_line_color 

# This is the color of the transparent visual mark explained in :ref:`usage:Visual Mark` (this feature originally had an entirely different functionality which is why it is called vertical line even though there is nothing vertical about it!). Allowed values are RGBA colors between 0.0 and 1.0. For example, to set the color to a transparent red we add the following to our prefs_user.config:
# System Message: ERROR/3 (<string>, line 4); backlink
# Unknown interpreted text role "ref".
# visual_mark_color  1.0  0.0  0.0  0.1 
# visual_mark_color 

# keyboard_select_background_color 

# keyboard_select_text_color 

# keyboard_selected_tag_text_color 

# keyboard_selected_tag_background_color 

# synctex_highlight_timeout 

# White text in dark mode can be annoying for the eyes. This option allows us to dim the white colors when dark mode is enabled. Allowed values are between 0.0 and 1.0. 
# dark_mode_contrast 

# freetext_bookmark_font_size 

# custom_color_contrast 

# The fraction by which we enlarge the page when zooming in/out. 
# zoom_inc_factor 

# scroll_zoom_inc_factor 

# How many inches we move vertically/horizontally when performing move_* commands. 
# vertical_move_amount 

# How many inches we move vertically/horizontally when performing move_* commands. 
# horizontal_move_amount 

# move_screen_percentage 

# strike_line_width 

# The fraction of screen by which we move when executing screen_down and screen_up commands. (note that despite the name, the values are fractions between 0 and 1, not percentages) 
# move_screen_ratio 

# When we go to the next page while in visual mark mode, this setting determines which location of screen the new line should be located at. The values are between -1 and 1. With 0 being the middle of the screen and 1 and -1 being the top and bottom of the screen respectively.
# visual_mark_next_page_fraction  0.5 
# visual_mark_next_page_fraction 

# Determines at which point in screen we move to the next page. Acceptable range is between 0 and visual_mark_next_page_fraction. 
# visual_mark_next_page_threshold 

# Can be used to adjust the sensitivity of the touchpad.
# touchpad_sensitivity    0.1 
# touchpad_sensitivity 

# scrollview_sensitivity 

# Used to adjust the appearance of page separator.
# page_separator_width 2
# page_separator_color 0.5 0.5 0.5 
# page_separator_width 

# Ratio of screen width to use when using fit_to_screen_width_ratio command. Can be useful for very wide screens.
# fit_to_page_width_ratio 0.75 
# fit_to_page_width_ratio 

# Additional padding for ruler. Makes the ruler a little larger and more readable.
# ruler_padding 1.0
# ruler_x_padding 5.0 
# ruler_padding 

# Additional padding for ruler. Makes the ruler a little larger and more readable.
# ruler_padding 1.0
# ruler_x_padding 5.0 
# ruler_x_padding 

# ruler_auto_move_sensitivity 

# fastread_opacity 

# page_space_x 

# page_space_y 

# menu_screen_width_ratio 

# menu_screen_width_ratio 

# When smooth scrolling is enabled (using toggle_smooth_scroll command), these control the speed and slowdown of movement.
# smooth_scroll_speed 3
# smooth_scroll_drag 3000 
# smooth_scroll_speed 

# When smooth scrolling is enabled (using toggle_smooth_scroll command), these control the speed and slowdown of movement.
# smooth_scroll_speed 3
# smooth_scroll_drag 3000 
# smooth_scroll_drag 

# gamma 

# highlight_delete_threshold 

# tts_rate 

# smooth_move_max_velocity 

# epub_width 

# epub_height 

# epub_font_size 

# persistance_period 

# text_selection_minimum_distance 

# Use dark mode by default. 
# default_dark_mode 

# use_system_theme 

# use_custom_color_as_dark_system_theme 

# render_freetext_borders 

# Displays a simplified flat table of contents instead of a hierarchial one. This can improve performance for documents with very large number of table of contents entries (thousands). Acceptable values are 0 and 1. 
# flat_toc 

# adjust_annotation_colors_for_dark_mode 

# right_click_context_menu 

# preserve_image_colors_in_dark_mode 

# inverted_preserved_image_colors 

# invert_selected_text 

# ignore_scroll_events 

# dont_center_if_synctex_rect_is_visible 

# gg_uses_labels 

# If it is 1, when launching the application if we detect multiple monitors, we automatically launch the helper window in second monitor. Acceptable values are 0 and 1. 
# should_use_multiple_monitors 

# paper_download_should_create_portal 

# paper_download_should_detect_paper_name 

# automatically_download_matching_paper_name 

# If the last opened document is empty, load the tutorial pdf instead. 
# should_load_tutorial_when_no_other_file 

# Warning
# This is deprecated. Use should_launch_new_window instead.
# If it is 0, then we use the previous instance of sioyek when launching a new file, otherwise a new instance is launched every time we open a new file. 
# should_launch_new_instance 

# If it is 0, then we use the previous window of sioyek when opening a new file, otherwise a new window is opened every time we open a new file. 
# should_launch_new_window 

# If set, we display a checkerboard pattern for unrendered pages (by default we display nothing). 
# should_draw_unrendered_pages 

# hide_overlapping_link_labels 

# real_page_separation 

# fill_textbar_with_selected_text 

# align_link_dest_to_top 

# If set, sioyek checkes for new versions on startup and notifies the user if a new version if available.
# check_for_updates_on_startup 1 
# check_for_updates_on_startup 

# If set, we sort the bookmarks by their location instead of their creation time. 
# sort_bookmarks_by_location 

# sort_highlights_by_location 

# hover_overview 

# Normally we reuse the rendered page for overview window. This may cause the overview page to be blurry or too sharp if there is a significant difference between the zoom levels of the main window and overview window. If rerender_overview is set, we rerender overview which solves this issue at the cost of some additional computation.
# rerender_overview            1 
# rerender_overview 

# If set, when using mouse wheel to zoom we zoom in on mouse cursor instead of middle of screen. 
# wheel_zoom_on_cursor 

# If set, we use linear texture filtering instead of the normal nearest neighbour filtering. This is useful when using manual display resolution scale which causes the nearest neighbour filter to look bad. 
# linear_filter 

# If set, we initially collapse all table of content entries. 
# collapsed_toc 

# render_pdf_annotations 

# If it is 1, we highlight a rectangle around the current line in visual mark mode. Otherwise, we highlight below the current line.
# ruler_mode  1 
# ruler_mode 

# use_ruler_to_highlight_synctex_line 

# show_most_recent_commands_first 

# keyboard_point_selection 

# text_summary_should_refine 

# text_summary_should_fill 

# use_heuristic_if_text_summary_not_available 

# enable_experimental_features 

# If set and the file doesn't have a table of contents, we use heuristic methods to create a table of contents. You can use max_created_toc_size to prevent creating very large table of contents.
# create_table_of_contents_if_not_exists 1
# max_created_toc_size 5000 
# create_table_of_contents_if_not_exists 

# Use legacy line detection algorithm instead of the mupdf one. 
# force_custom_line_algorithm 

# ignore_whitespace_in_presentation_mode 

# exact_highlight_select 

# Show the full document path instead of just the file name in list of recently opened documents. 
# show_doc_path 

# If set, we warn the user in command line when overriding already degined keybinds. 
# should_warn_about_user_key_override 

# If set, single clicking and dragging mouse selects entire words rather than characters. 
# single_click_selects_words 

# allow_horizontal_drag_when_document_is_small 

# right_click_context_menu 

# By default we use legacy keybindings which have some problems. For example to bind the % key, you would have to enter something like this:
# command <S-%>
# which is a little weird. Also legacy keybinds don't work well with some keyboard layouts. If you set use_legacy_keybinds to 0, then we use a new method for keybind parsing which allows you to do something like this:
# command %
# which also works with all keyboard layouts. Since this is a backwards incompatible change, use_legacy_keybinds is activated by default. 
# use_legacy_keybinds 

# If set, we show long menu items in multiple lines rather than truncating them. 
# multiline_menus 

# Open helper window when sioyek starts. 
# start_with_helper_window 

# lighten_colors_when_embedding_annotations 

# When in presentation mode, we pre-render the next page to remove flickering when moving between pages. 
# prerender_next_page_presentation 

# If enabled, highlights the selected text by middle clicking on it. 
# highlight_middle_click 

# auto_rename_downloaded_papers 

# If enabled, indexes the document text and considerably speeds of searching. It also enables regex_search command which uses the index to search for regular expressions. 
# super_fast_search 

# incremental_search 

# If enabled, displays the text for closest bookmark in the statusbar. 
# show_closest_bookmark_in_statusbar 

# If enabled, it displays a statusbar message when we are close to a portal. 
# show_close_portal_in_statusbar 

# It is enabled by default. If disabled, we use case-insensitive searching. 
# case_sensitive_search 

# smartcase_search 

# Displays the document name in sioyek's statusbar. 
# show_document_name_in_statusbar 

# If enabled we use numeric (instead of alphabetical) tags when executing keyboard_* commands. 
# numeric_tags 

# highlight_links 

# should_highlight_unselected_search 

# fuzzy_searching 

# inverted_horizontal_scrolling 

# toc_jump_align_top 

# autocenter_visual_scroll 

# alphabetic_link_tags 

# vimtex_wsl_fix 

# sliced_rendering 

# touch_mode 

# allow_main_view_scroll_while_in_overview 

# background_pixel_fix 

# add_newlines_when_copying_text 

# always_copy_selected_text 

# show_statusbar_only_when_hovered 

# scroll_past_document_ends 

# horizontal_scroll_past_page_ends 

# uniform_page_widths 

# simplify_freehand_drawings 

# recto_verso_adjustment 

# google_scholar_address 

# A prefix character to use before list of items (for example can be used to display a checkmark before each of the bookmarks).
# item_list_prefix     ✔️ 
# item_list_prefix 

# The command to use when trying to do inverse search into a LaTeX document. %1 expands to the name of the file and %2 expans to the line number. For example:
# inverse_search_command               "C:\path\to\vscode\Code.exe" -r -g %1:%2 
# inverse_search_command 

# libgen_address 

# The path of shared.db database file. You can set this path to be in a synchronized folder (for example a dropbox folder) and sioyek data will be automatically synchronized across your devices. 
# shared_database_path 

# ruler_display_mode 

# The font to use for UI text.
# ui_font              Segoe UI Emoji 
# ui_font 

# status_font 

# The letter corresponding to search_url_* configs to use when middle clicking/shift-middle clicking on text. Example:
# middle_click_search_engine           g
# This causes the search engine configures using search_url_g to be used when middle clicking on text. 
# middle_click_search_engine 

# The letter corresponding to search_url_* configs to use when middle clicking/shift-middle clicking on text. Example:
# middle_click_search_engine           g
# This causes the search engine configures using search_url_g to be used when middle clicking on text. 
# shift_middle_click_search_engine 

# text_summary_url 

# paper_search_url 

# Path to a directory on your computer. Sioyek monitors the changes in this directory and if a new file is added to this directory while we have a pending portal, this file is automatically used as the destination of the portal. This is useful when creating a portal from a reference in a paper to the actual reference file. 
# papers_folder_path 

# scan_path 

# context_menu_items 

# context_menu_items_for_links 

# context_menu_items_for_selected_text 

# context_menu_items_for_highlights 

# context_menu_items_for_bookmarks 

# context_menu_items_for_overview 

# paper_download_url_path 

# paper_download_title_path 

# paper_download_contrib_path 

# default_open_file_path 

# annotations_directory 

# status_bar_format 

# right_status_bar_format 

# epub_css 

# tag_font_face 

# Semicolon-separated list of commands to execute on startup. For example, to start in custom color mode and in visual scroll mode, you can add the following (the command names are the same as the ones displayed when opening the command window using :):
# startup_commands             toggle_custom_color;toggle_visual_scroll 
# startup_commands 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# shift_click_command 

# resize_command 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# control_click_command 

# hold_middle_click_command 

# back_rect_tap_command 

# tablet_pen_click_command 

# tablet_pen_double_click_command 

# volume_down_command 

# volume_down_command 

# back_rect_hold_command 

# forward_rect_tap_command 

# forward_rect_hold_command 

# top_center_tap_command 

# top_center_hold_command 

# middle_left_rect_tap_command 

# middle_left_rect_hold_command 

# middle_right_rect_tap_command 

# middle_right_rect_hold_command 

# visual_mark_next_tap_command 

# visual_mark_next_hold_command 

# visual_mark_prev_tap_command 

# visual_mark_prev_hold_command 

# right_click_command 

# middle_click_command 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# shift_right_click_command 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# control_right_click_command 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# alt_click_command 

# Custom commands to run when mouse click is pressed while modifier keys are held down. For example:
# control_click_command overview_under_cursor
# If set, single clicking and dragging mouse selects entire words rather than characters. 
# alt_right_click_command 

# Size of the UI font. 
# font_size 

# ruler_pixel_width 

# num_prerendered_next_slides 

# num_cached_pages 

# num_prerendered_prev_slides 

# keyboard_select_font_size 

# documentation_font_size 

# Allow you to customize the appearance of status bar.
# status_bar_color        0 0 0
# status_bar_text_color   1 1 1
# status_bar_font_size    10 
# status_bar_font_size 

# text_summary_context_size 

# max_created_toc_size 

# prerendered_page_count 

# reload_interval_miliseconds 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# main_window_size 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# helper_window_size 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# main_window_move 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# helper_window_move 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# single_main_window_size 

# Configures the size and position of the main window and the helper window. single_main_window_* is used when helper window is closed and the other configs are used when both windows are opened. These values are automatically written to auto.cong file when sioyek exits but you can manually override them by setting them in your prefs_user.config.
# single_main_window_size    1824 988
# single_main_window_move     22 21
# main_window_size    1824 988
# main_window_move     18 44
# helper_window_size    1891 1033
# helper_window_move     1951 0 
# single_main_window_move 

# Adjust the size of overview window. The values are in normalized window coordinates between -1 and 1.
# overview_size 0.852604 0.597729
# overview_offset -0.0119792 0.120151 
# overview_size 

# Adjust the size of overview window. The values are in normalized window coordinates between -1 and 1.
# overview_size 0.852604 0.597729
# overview_offset -0.0119792 0.120151 
# overview_offset 

# portrait_back_ui_rect 

# portrait_forward_ui_rect 

# landscape_back_ui_rect 

# landscape_forward_ui_rect 

# portrait_visual_mark_next 

# landscape_middle_right_rect 

# landscape_middle_left_rect 

# portrait_middle_right_rect 

# portrait_middle_left_rect 

# portrait_visual_mark_prev 

# landscape_visual_mark_next 

# landscape_visual_mark_prev 

# highlight_color_a 

# search_url_a 

# execute_command_a 

# highlight_color_b 

# search_url_b 

# execute_command_b 

# highlight_color_c 

# search_url_c 

# execute_command_c 

# highlight_color_d 

# search_url_d 

# execute_command_d 

# highlight_color_e 

# search_url_e 

# execute_command_e 

# highlight_color_f 

# search_url_f 

# execute_command_f 

# highlight_color_g 

# search_url_g 

# execute_command_g 

# highlight_color_h 

# search_url_h 

# execute_command_h 

# highlight_color_i 

# search_url_i 

# execute_command_i 

# highlight_color_j 

# search_url_j 

# execute_command_j 

# highlight_color_k 

# search_url_k 

# execute_command_k 

# highlight_color_l 

# search_url_l 

# execute_command_l 

# highlight_color_m 

# search_url_m 

# execute_command_m 

# highlight_color_n 

# search_url_n 

# execute_command_n 

# highlight_color_o 

# search_url_o 

# execute_command_o 

# highlight_color_p 

# search_url_p 

# execute_command_p 

# highlight_color_q 

# search_url_q 

# execute_command_q 

# highlight_color_r 

# search_url_r 

# execute_command_r 

# highlight_color_s 

# search_url_s 

# execute_command_s 

# highlight_color_t 

# search_url_t 

# execute_command_t 

# highlight_color_u 

# search_url_u 

# execute_command_u 

# highlight_color_v 

# search_url_v 

# execute_command_v 

# highlight_color_w 

# search_url_w 

# execute_command_w 

# highlight_color_x 

# search_url_x 

# execute_command_x 

# highlight_color_y 

# search_url_y 

# execute_command_y 

# highlight_color_z 

# search_url_z 

# execute_command_z 

