
@define-color foreground #ebdbb2;
@define-color background #1d2021;

@define-color gruvbox-black   #282828;
@define-color gruvbox-red     #cc241d;
@define-color gruvbox-green   #98971a;
@define-color gruvbox-yellow  #d79921;
@define-color gruvbox-blue    #458588;
@define-color gruvbox-magenta #b16286;
@define-color gruvbox-cyan    #689d6a;
@define-color gruvbox-white   #a89984;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: @gruvbox-red;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  font-family: "Cozette";
  font-size: 24px;
  color: @foreground;
}

#box {
  border-radius: 2px;
  background: @background;
  padding: 32px;
  border: 2px solid lighter(@background);
}

#search {
  background: lighter(@background);
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @foreground;
  opacity: 0.2;
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: alpha(@gruvbox-blue, 0.4);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@background);
}
